/* Estilos gerais que se aplicam a todo o documento */

/* *,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

/* html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
} */
.watermark {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem; 
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none; 
    opacity: 0.1;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 100%;
    }
}

body {
    color: #fff;
    padding: 0px;
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 0;
    }
}

.container {
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    width: 1450px;
    margin-left: -25px;
}

@media only screen and (max-width: 1000px) {
    .container {
        border-radius: 0;
    }
}

#BannerSeparado .slider {
    display: flex;
    width: 500%;
    height: 35rem;
    transition: all 0.25s ease-in;
    transform: translateX(0);
}

@media only screen and (max-width: 1000px) {
    #BannerSeparado .slider {
        height: 100vh;
    }
}

#BannerSeparado .slider .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .slider .box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

#BannerSeparado .slider .box .bg {
    padding: 2rem;
    background-color: rgba(0, 0, 0, .2);
    width: 55%;
    transform: skewX(7deg);
    position: absolute;
    height: 100%;
    left: -10%;
    padding-left: 20rem;
    transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
    #BannerSeparado .slider .box .bg {
        width: 65%;
    }
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .slider .box .bg {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        transform: skewX(0deg);
    }
}

#BannerSeparado .slider .box .bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    pointer-events: none;
    transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .slider .box .bg::before {
        width: 120%;
        bottom: 0;
        transform: skewX(0deg);
    }
}

#BannerSeparado .slider .box .details {
    padding: 5rem;
    padding-left: 10rem;
    z-index: 100;
    grid-column: 1 / span 1;
    grid-row: -1;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .slider .box .details {
        grid-row: 2 / span 1;
        grid-column: -1;
        text-align: center;
        padding: 2rem;
        transform: translateY(-9rem);
    }
}

#BannerSeparado .slider .box .details h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#BannerSeparado .slider .box .details p {
    display: inline-block;
    font-size: 1.3rem;
    color: #b5b4b4;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

@media only screen and (max-width: 800px) {
    #BannerSeparado .slider .box .details p {
        margin-right: 0;
    }
}

#BannerSeparado .slider .box .details button {
    padding: 1rem 3rem;
    z-index: 2;
    color: #fff;
    margin-top: 30px;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#BannerSeparado .slider .box .details button:hover {
    opacity: 0.8;
}

#BannerSeparado .slider .box .details button:focus {
    outline: none;
    border: none;
}

#BannerSeparado .slider .box1 {
    background-image: url(/img/Amara\ banner.png);
    background-position: 50px 70%;
    /* background-repeat: no-repeat; */
}

#BannerSeparado .slider .box1 .illustration .inner {
    /* background-image: #dcdadf; */
}

#BannerSeparado .slider .box1 .illustration .inner::after,
#BannerSeparado .slider .box1 .illustration .inner::before {
    /* background-color: #dcdadf; */
}

#BannerSeparado .slider .box1 button {
    background-color: #f07;
}

#BannerSeparado .slider .box2 {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box2 .illustration .inner {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box2 .illustration .inner::after,
#BannerSeparado .slider .box2 .illustration .inner::before {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box2 button {
    background-color: #f07;
}

#BannerSeparado .slider .box3 {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box3 .illustration .inner {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box3 .illustration .inner::after,
#BannerSeparado .slider .box3 .illustration .inner::before {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box3 button {
    background-color: #f07;
}

#BannerSeparado .slider .box4 {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box4 .illustration .inner {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box4 .illustration .inner::after,
#BannerSeparado .slider .box4 .illustration .inner::before {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box4 button {
    background-color: #f07;
}

#BannerSeparado .slider .box5 {

    /* background-image: url(/img/Amara\ banner.png); */
}

/* #BannerSeparado .slider .box5 .illustration .inner {
    background-color: #dcdadf;
}

#BannerSeparado .slider .box5 .illustration .inner::after,
#BannerSeparado .slider .box5 .illustration .inner::before {
    background-color: #dcdadf;
} */

#BannerSeparado .slider .box5 button {
    background-color: #f07;
}

#BannerSeparado .slider .illustration {
    grid-column: -2;
    grid-row: -1;
    justify-self: center;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .slider .illustration {
        grid-row: 1 / span 1;
        grid-column: -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#BannerSeparado .slider .illustration div {
    height: 25rem;
    width: 18rem;
    border-radius: 3rem;
    /* background-color: #f07; */
    position: relative;
    transform: skewX(-10deg);
}

@media only screen and (max-width: 800px) {
    #BannerSeparado .slider .illustration div {
        height: 20rem;
        width: 15rem;
    }
}

#BannerSeparado .slider .illustration div::after,
#BannerSeparado .slider .illustration div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    top: 0;
    left: 0;
}

#BannerSeparado .slider .illustration div::after {
    transform: translate(4rem, -1rem);
}

#BannerSeparado .slider .illustration div::before {
    transform: translate(2rem, -2rem);
}

#BannerSeparado .prev,
#BannerSeparado .next,
#BannerSeparado .trail {
    z-index: 10000;
    position: absolute;
}

#BannerSeparado .prev,
#BannerSeparado .next {
    width: 4rem;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .prev,
    #BannerSeparado .next {
        display: none;
    }
}

#BannerSeparado .prev:hover,
#BannerSeparado .next:hover {
    opacity: 1;
}

#BannerSeparado .prev {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

#BannerSeparado .next {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

#BannerSeparado .trail {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .trail {
        width: 90%;
        bottom: 13%;
    }
}

#BannerSeparado .trail div {
    padding: 2rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;
}

#BannerSeparado .trail div:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 650px) {
    #BannerSeparado .trail div {
        padding: 1rem;
    }
}

#BannerSeparado .active {
    opacity: 1 !important;
}
